<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InstructorDetailPage</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Boostrap-Tabs.css">
    <link rel="stylesheet" href="/static/css/Bootstrap-4---Product-List.css">
    <link rel="stylesheet" href="/static/css/Footer-with-Pricing.css">
    <link rel="stylesheet" href="/static/css/Login-with-overlay-image.css">
    <link rel="stylesheet" href="/static/css/Ludens-Client---Login-Dropdown.css">
    <link rel="stylesheet" href="/static/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="/static/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top bg-dark py-3" data-bs-spy="scroll">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}"><span style="color: rgba(255,255,255,0.9);">OnLearning</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="background: #ffffff;padding: 2px 12px;margin: 0px;margin-top: -11px;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}" style="color: rgba(255,255,255,0.9);">Learning Tracks</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "org:instructors" %}" style="color: rgba(255,255,255,0.55);">Instructors</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "org:list" %}" style="color: rgba(255,255,255,0.55);">Organizations</a></li>
                </ul>

                {% if request.user.is_authenticated %}
                    <div class="dropdown show"><a class="dropdown-toggle" aria-expanded="true" data-bs-toggle="dropdown" href="#"><svg class="bi bi-emoji-sunglasses" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 22px;">
                        <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"></path>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"></path>
                        </svg></a>
                        <div class="dropdown-menu dropdown-menu-end show" data-bs-popper="none" style="padding-left: 0px;margin-left: 0px;transform: translate(74px);"><a class="dropdown-item" href="{% url 'users:info' %}">Profile</a><a class="dropdown-item link-danger" href="{% url 'logout' %}">Log out</a></div>
                    </div>
                {% else %}
                    <a class="btn btn-primary me-3" href="{% url 'login' %}" type="button" style="background: var(--bs-btn-hover-color);color: var(--bs-navbar-brand-color);margin-right: 0px;">Login</a>
                    <a class="btn btn-primary" href="{% url 'register' %}" type="button" style="background: var(--bs-navbar-active-color);">Sign up</a>
                {% endif %}
            </div>

        </div>
    </nav>
    <div class="container py-5">
  <!-- For demo purpose -->
    <div class="row mb-5">
        <div class="col-lg-8 text-white py-4 text-center mx-auto">
          <h1 style="color: black">{{instructor.name}}</h1>
            <img width="200" class="scrollLoading" src="{{ MEDIA_URL }}{{ instructor.image }}"/>
        </div>
    </div>
  <!-- End -->


  <div class="p-5 bg-white rounded shadow mb-5">
    <!-- Rounded tabs -->
    <ul id="Intro" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
      <li class="nav-item flex-sm-fill">
        <a id="home-tab" data-toggle="tab" href="#Intro" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Introduction</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="contact-tab" data-toggle="tab" href="#Classes" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Courses</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
        <p class="text-muted">{{ instructor.desc }}</p>
      </div>
    </div>
    <!-- End rounded tabs -->
  </div>
  <div class="p-5 bg-white rounded shadow mb-5">
    <!-- Lined tabs-->
    <ul id="Classes" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
      <li class="nav-item flex-sm-fill">
        <a id="home-tab" data-toggle="tab" href="#Intro" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold">Introduction</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="contact-tab" data-toggle="tab" href="#Classes" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold active">Courses</a>
      </li>
    </ul>
        <div class="container">
        <div class="row product-list dev">
            {% for course in all_courses %}
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="{{ MEDIA_URL }}{{ course.Images }}"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">{{ course.name }}</a></h2>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">{{ course.category }} </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">This course is viewed by: {{ course.number_of_clicks }} times</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Course description: {{ course.desc }} </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button"><a href="{% url 'course:detail' course.id %}">View now!</a></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
  </div>

</div>

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
</body>

</html>